{#
  A big, plainly worded way back to the home page.
  Include it at the foot of any page that is not the home page:

      {% include "partials/back-home.njk" %}
#}
<div class="grid">
  <div class="st st--peel a3 col-12 backhome">
    <p>Finished reading?</p>
    <a class="btn btn--back" href="/">Back to the home page</a>
  </div>
</div>
